/* style.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #ffffffc5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.805);
  padding: 30px;
  border-radius: 5px;
  max-width: 100%;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: #333;
  margin-bottom: 10px;
}

p,
pre {
  font-family: Arial, sans-serif;
  color: #666;
  font-size: 16px;
}

#day {
  font-size: 24px;
  font-weight: bold;
  color: #0352a5;
}

#time {
  font-size: 20px;
  color: #d37000;
}

#ex2 {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#ex2:hover {
  background-color: #0056b3;
}

#dateDisplay {
  text-align: center;
  font-size: 28px;
  color: #be0000;
  margin: 20px auto;
  border: 2px solid #000000;
  padding: 10px 20px;
  max-width: 300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stile per il form */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.628);
}

/* Stile per le label */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Stile per gli input */
input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Stile per il pulsante di submit */
input[type="submit"] {
  margin-top: 10px;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #c53100;
}

/* Stile per il paragrafo dei risultati */
#result {
  margin-top: 10px;
  font-weight: bold;
}

.ex5 {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ex5 p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.ex5 button {
  background-color: #000000;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ex5 button:hover{
    background-color: #c53100;
}

#resultXmas{
  font-size:19px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
}

/* CSS for the Multiplication and Division Calculator */
.mD {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.mD h1 {
  color: #333;
  text-align: center;
}

.mD label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.mD input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mD button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.mD button:hover {
  background-color: #45a049;
}

.mD #resultCalc {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}


